.grid-performance {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(40px, auto) minmax(0, auto);
	grid-column-gap: 20px;
	grid-template-areas:
		"pes-header pea-header"
		"pes-content pea-content"
}

.pes-header {grid-area: pes-header;}
.pea-header {grid-area: pea-header;}
.pes-content {grid-area: pes-content;}
.pea-content {grid-area: pea-content;}

.playback-container {
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
}

.playback-container>div {	text-align: center; }
.not-available {
    align-self: center;
    justify-self: center;
}