#slsBody, #slaBody {
	font-family: Courier;
}

.grid-log-side-by-side {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-auto-rows: auto;
}
.grid-log-table {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(40px, auto) minmax(100px, auto);
	grid-template-areas:
		"log-table-title"
		"log-table-content"
}
.log-table-title {
	grid-area: log-table-title;
	padding-top: 10px;
}
.log-table-content {
	grid-area: log-table-content;
}
.highlight {
    background-color: yellow;
    color: black;
    border-radius: 3px;
}
.current-highlight {
    border: 2px solid red;
}
.hit-count {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-family: monospace;
    margin-left: 10px;
    white-space: nowrap;
}
table.dataTable th,td {
  font-size: 0.8em;
}
[type=search] {
    outline-offset: 0;
}